/* body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  outline: none !important;
} */
/*  */
:root {
  --blue: red;
  --buttonHoverBg: #000000;
  --lightGrey: rgb(0, 0, 0);
  --spacing: 15px;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 19px;
  font-weight: 800;
  margin: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

button {
  background-color: aqua;
  border: azure;
}

button i,
button span {
  pointer-events: none;
}

nav a {
  padding: 10px;
  font-size: 20px;
  width: 105px;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 999px; */
  border-radius: 170px;
  background: #070800;
  padding-top: 2px;
  margin-top: 25px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

nav a.red {
  color: red;
  font-size: 55px;
  position: relative;
  right: 55px;
}

nav a.blue {
  color: blue;
  font-size: 55px;
  position: relative;
  right: 55px;
  size: 50px;
}

nav a:hover {
  background-color: var(--buttonHoverBg);
  color: var(--blue);
  border-radius: 50%;
}

/* ////////////////////////////////// */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-direction: column;
  height: 100%;
  position: relative;
  left: 210px;
}

.sidebar b {
  padding: 10px;
  font-size: 20px;
  width: 105px;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 999px; */
  border-radius: 170px;
  background: #070800;
  padding-top: 2px;
  margin-top: 25px;
}
.sidebar b.blue {
  color: red;
  font-size: 55px;
  position: relative;
  right: 55px;
}

nav a.blue {
  color: blue;
  font-size: 55px;
  position: relative;
  right: 55px;
  size: 50px;
}

nav a:hover {
  background-color: var(--buttonHoverBg);
  color: var(--blue);
  border-radius: 50%;
}
/* //////////////////////////////////////////////// */

.sidebar b:hover {
  background-color: var(--buttonHoverBg);
  color: var(--blue);
  border-radius: 50%;
}

.mainSectionContainer {
  padding: 0;
  border-left: 2px solid var(--lightGrey);
  border-right: 2px solid var(--lightGrey);
  display: flex;
  flex-direction: column;
}

.titleContainer {
  height: 53px;
  padding: 0 var(--spacing);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--lightGrey);
  flex-shrink: 0;
}

.titleContainer h1 {
  flex: 1;
}
/* /* } */

.postFormContainer {
  display: flex;
  padding: var(--spacing);
  border-bottom: 10px solid rgb(230, 236, 240);
  flex-shrink: 0;
}

.userImageContainer {
  width: 50px;
  height: 50px;
}

.userImageContainer img {
  width: 100%;
  border-radius: 50%;
  background-color: #fff;
}

.textareaContainer {
  flex: 1;
  padding-left: var(--spacing);
}

.textareaContainer textarea {
  width: 100%;
  border: none;
  /* border-radius: 100px; */
  border-radius: 8px;
  height: 100px;
  resize: none;
  font-size: 25px;
}

#submitPostButton {
  background-color: #1b4ea7; /* Green */
  border: none;
  color: rgb(12, 5, 5);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  font-weight: bolder;
  border-radius: 40px;
  text-align: center;
  position: relative;
  left: 40%;
  text-size-adjust: 55px;
}

#submitPostButton:disabled {
  background-color: var(--blueLight);
}

.post {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  cursor: pointer;
  border-bottom: 1px solid var(--lightGrey);
  flex-shrink: 0;
}

.mainContentContainer {
  flex: 1;
  display: flex;
}

.postContentContainer {
  padding-left: var(--spacing);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.username,
.date {
  color: var(--greyText);
}

.displayName {
  font-weight: bold;
}

.postFooter {
  display: flex;
  align-items: center;
}

.postFooter .postButtonContainer {
  flex: 1;
  display: flex;
}

.postFooter .postButtonContainer button {
  padding: 0;
}
