mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="User's profile picture")
        .textareaContainer
            textarea#postTextarea(placeholder="Got an Startup Idea ? Pitch it !")
            .buttonsContainer
                button#submitPostButton(disabled="") Post